@import '/src/assets/constants.css';

@media screen and (orientation: portrait) {
    .course-preview {
        z-index: inherit;
        display: flex;
        width: 100%;
        flex-flow: column wrap;
    }

    .course-preview-container {
        border-radius: 20px;
        background-color: var(--Black);
        
        padding: 20px;
        text-decoration: none;
    
        margin: 30px 0;
    }
    
    .course-preview-title {
        color: var(--White);
        width: 60%;
    
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    
        margin: 0 0 30px 0;
    }
    
    .course-preview-enroll {
        background-color: var(--White);
        width: max-content;
        border-radius: 5px;
        font-weight: bold;
        padding: 2px 15px;
        color: var(--Black);
    }
    
    .course-preview-human {
        display: block;
        position: absolute;
        width: 120px;
        right: var(--side-margin);
        transform: translate(-20px,-130px);
    }

    .course-preview-button-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 50px;
    }

    .course-preview-button {
        opacity: 0.4;
        width: 18px;
        height: 18px;
        border-radius: 15px;
        background-color: black;

        transition: opacity 90ms ease-in;
    }
}
