@import '/src/assets/constants.css';

nav
{
    width: 768px;
    height: auto;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;

    font-weight: bold;
    position: sticky;
    top: 0;
    background-color: inherit;
    z-index: 99;

    transition: box-shadow 200ms ease-in-out;
}

.nav-item
{
    width: 120px;
    height: 70px;
    color: inherit;
    background-color: inherit;
    padding: 10px;

    transition: all 50ms ease-in-out;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.nav-item:hover
{
    color: var(--Black);
    background-color: var(--Grey);

}

.shadow-header{
    box-shadow: 0 0 21px 2px var(--Shadow);
}

@media screen and (min-width: 768px) {
    nav
    {
        width: 100vw;
    }
}