:root
{
    /* Primary */
    /* --ion-color-primary: #006600;
    --ion-color-primary-rgb: 0, 102, 0;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #005a00;
    --ion-color-primary-tint: #1a751a; */
    
    /* Secondary */
    /* --ion-color-secondary: #006600;
    --ion-color-secondary-rgb: 0, 102, 0;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #005a00;
    --ion-color-secondary-tint: #1a751a; */
    
    /* Tertiary */
    /* --ion-color-tertiary: #006600;
    --ion-color-tertiary-rgb: 0, 102, 0;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #005a00;
    --ion-color-tertiary-tint: #1a751a; */
    
    /* Success */
    /* --ion-color-success: #006600;
    --ion-color-success-rgb: 0, 102, 0;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #005a00;
    --ion-color-success-tint: #1a751a; */
    
    /* Warning */
    /* --ion-color-warning: #006600;
    --ion-color-warning-rgb: 0, 102, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #005a00;
    --ion-color-warning-tint: #1a751a; */
    
    /* Danger */
    /* --ion-color-danger: #006600;
    --ion-color-danger-rgb: 0, 102, 0;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #005a00;
    --ion-color-danger-tint: #1a751a; */
    
    /* Light */
    /* --ion-color-light: #006600;
    --ion-color-light-rgb: 0, 102, 0;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #005a00; */
    
    /* Medium */
    /* --ion-color-medium: #006600;
    --ion-color-medium-rgb: 0, 102, 0;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #005a00;
    --ion-color-medium-tint: #1a751a;
    --ion-color-medium-tint: #1a751a; */
    
    /* Dark */
    /* --ion-color-dark: #006600;
    --ion-color-dark-rgb: 0, 102, 0;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #005a00;
    --ion-color-dark-tint: #1a751a; */
    
    /* New */
    --ion-color-new: #006600;
    --ion-color-new-rgb: 0, 102, 0;
    --ion-color-new-contrast: #ffffff;
    --ion-color-new-contrast-rgb: 255, 255, 255;
    --ion-color-new-shade: #005a00;
    --ion-color-new-tint: #1a751a;
    
    /* Grey */
    --ion-color-grey: #cecece;
	--ion-color-grey-rgb: 206,206,206;
	--ion-color-grey-contrast: #000000;
	--ion-color-grey-contrast-rgb: 0,0,0;
	--ion-color-grey-shade: #b5b5b5;
	--ion-color-grey-tint: #d3d3d3;
}

.ion-color-new
{
    --ion-color-base: var(--ion-color-new);
	--ion-color-base-rgb: var(--ion-color-new-rgb);
	--ion-color-contrast: var(--ion-color-new-contrast);
	--ion-color-contrast-rgb: var(--ion-color-new-contrast-rgb);
	--ion-color-shade: var(--ion-color-new-shade);
	--ion-color-tint: var(--ion-color-new-tint);
}

.ion-color-grey
{
    --ion-color-base: var(--ion-color-grey);
	--ion-color-base-rgb: var(--ion-color-grey-rgb);
	--ion-color-contrast: var(--ion-color-grey-contrast);
	--ion-color-contrast-rgb: var(--ion-color-grey-contrast-rgb);
	--ion-color-shade: var(--ion-color-grey-shade);
	--ion-color-tint: var(--ion-color-grey-tint);
}