.list-group-item
{
    cursor: pointer;
}

#root
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    gap: 50px;
    font-family: Helvetica, Avenir, Arial, sans-serif;
}